<!DOCTYPE html>

<html>
<head>
<title> User Signup </title>
<style>
    .error {
        color: red;
    }
</style >
</head>
<body>
<h1> Signup </h1>
    <form action="/welcome" method ="POST">
        <table>
            <tr>
                <td><label for ="username">Username</label></td>
                <td><input type= "text" name="username" value="{{username}}">
                <span class="error">{{user_error}}</span>
                </td>
            </tr>
            <tr>
            <td><label for ="password">Password</label></td>
                <td><input name="password" type="password">
                <span class="error">{{password_error}}</span>
                </td>
            </tr>
            <tr>
            <td><label for ="passwordV">Verify Password</label></td>
            <td><input name= "passwordV" type="password">
                <span class="error">{{passwordV_error}}</span>
                </td>
            </tr>
            <tr>
                <td><label for="email">Email (optional)</label></td>
                <td>
                    <input name="email" value="">
                    <span class="error">{{email_error}}</span>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</body>


</html>
